@mixin text {
  font-size: 14px;
  line-height: 14px;
  color: var(--tg-theme-bg-color);
}

.masters_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;

  .masters_list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    color: var(--tg-theme-bg-color);

    .master {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(50% - 4px);
      background-color: var(--tg-theme-text-color);
      border-radius: 8px;
      padding: 8px;

      .master__header {
        display: flex;
        width: 100%;
        margin-bottom: 8px;

        & > img {
          width: 40px;
          height: 40px;
          margin-right: 8px;
          border-radius: 16px;
        }
        & > div {
          display: flex;
          flex-direction: column;
          @include text;

          & > span:first-of-type {
            font-weight: 700;
            margin-bottom: 4px;
          }
        }
      }
      .master__phone {
        @include text;
        font-weight: 500;
      }
      .master__button {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
        background: var(--tg-theme-button-color);
        color: var(--tg-theme-button-text-color);
      }
    }
  }
}
