@mixin text {
  font-size: 14px;
  line-height: 14px;
  color: var(--tg-theme-bg-color);
}

.masters_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;

  .masters_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    color: var(--tg-theme-bg-color);

    .master {
      background-color: var(--tg-theme-text-color);
      border-radius: 8px;
      padding: 8px;
      position: relative;
      &:hover {
        
      }

      .master__header {
        display: flex;

        & > img {
          width: 34px;
          height: 34px;
          margin-right: 8px;
        }
        & > div {
          display: flex;
          flex-direction: column;
          @include text;

          & > span:first-of-type {
            font-weight: 700;
            margin-bottom: 2px;
          }
        }
      }
      .master__phone {
        @include text;
        font-weight: 500;
      }
      .master__button {
        display: inline-block;
        position: absolute;
        right: 8px;
        bottom: 8px;
        font-weight: 700;
        padding: 4px;
        border-radius: 4px;
        background: var(--tg-theme-button-color);
        color: var(--tg-theme-button-text-color);
      }
    }
  }
}
