$sizes: 40px;

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $sizes;
  padding: 0px 8px;
  position: relative;
  border-top: 1px solid var(--tg-theme-text-color);
  border-bottom: 1px solid var(--tg-theme-text-color);

  .back_button,
  .back_forward {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: $sizes;
    height: $sizes;
    z-index: 1;
    top:0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
  }

  .back_button {
    left: 0;
  }
  .back_forward {
    right: 0;
  }

  .header_title {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }
}