@import '../../styles/common.scss';

.my_orders__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 8px;
  .master {
    @include blockUI;
    .master__header {
      display: flex;
      margin-bottom: 8px;
      > img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
        border-radius: 16px;
      }
      > div {
        display: flex;
        flex-direction: column;
      }
    }
    .master_info {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      border-bottom: double $active-block-color;
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
  }
}