@import '../../styles/common.scss';

.tabs {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
  .tab {
    padding: 8px 16px;
    background-color: $background-color;
    color: $default-color;
    &:first-of-type {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-of-type {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-left: 0;
    }
    &_active {
      background-color: $active-block-color;
      color: white;
    }
  }
}