@import '../../../styles/common.scss';

.master_wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  @include text;

  & > div {
    margin-bottom: 16px;
  }

  .master_info {
    margin-bottom: 8px;

    >span {
      font-weight: 700;
    }
  }

  .master_service {
    margin-bottom: 16px;

    .service {
      background-color: $active-block-color;
      color: white;
      :hover {
        background-color: $active-block-color;
      }
    }
  }

  .master_services {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &__title {
      font-weight: 700;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      > img {
        margin-left: 8px;
        cursor: pointer;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.service {
  @include text;
  @include blockUI;

  .price_time {
    margin-top: 4px;
  }
}

.working_hours {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: -16px;

  > div {
    @include blockUI;
    font-size: 14px;
    &.hour_active {
      background-color: $active-block-color;
      color: white;
    }
  }
}