@import '../../../styles/common.scss';

.master_wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  @include text;

  & > div {
    margin-bottom: 16px;
  }

  .master_info {
    margin-bottom: 8px;

    >span {
      font-weight: 700;
    }
  }

  .master_service {
    margin-bottom: 16px;

    .service {
      background-color: $active-block-color;
      color: white;
      :hover {
        background-color: $active-block-color;
      }
    }
  }

  .master_services {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &__title {
      font-weight: 700;
      margin-bottom: 8px;
      > span {
        margin-left: 8px;
        font-weight: 400;
        font-size: 12px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.service {
  @include text;
  @include blockUI;

  .price_time {
    margin-top: 4px;
  }
}